body {
  position:auto;
  color: #432;
  font-family:abel, Trebuchet MS;
  dispaly:block;
  background-color:#C9F76F;
  }

h1 {
  color: ;
  display: inline-block;
  }

h4 {display:inline-block;}
      
a {
  color: inherit;
  }

.icon{width:25px}

.page{
  background-color:ivory;
  border:1px solid gray;
  width: 600px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius:8px;
  
}

span
  {}
  }
